In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in d:\python\lib\site-packages (0.18.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib>=3.0.0 in d:\python\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: scikit-learn>=0.20.3 in d:\python\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: pandas>=0.24.2 in d:\python\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: joblib>=0.13.2 in d:\python\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: numpy>=1.16.2 in d:\python\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: setuptools in d:\python\lib\site-packages (from mlxtend) (50.3.1.post20201107)

Requirement already satisfied: scipy>=1.2.1 in d:\python\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: certifi>=2020.06.20 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: cycler>=0.10 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\python\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: pytz>=2017.2 in d:\python\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: six in d:\python\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)

In [3]:
from mlxtend.frequent_patterns import apriori

In [5]:
dataset=[['Drink','Nuts','Diaper'],

    ['Drink','Coffee','Diaper'],
    ['Drink','Diaper','Eggs'],
    ['Nuts','Eggs','Milk'],
    ['Nuts','Coffee','Diaper','Eggs','Milk']]

In [6]:
dataset

[['Drink', 'Nuts', 'Diaper'],
 ['Drink', 'Coffee', 'Diaper'],
 ['Drink', 'Diaper', 'Eggs'],
 ['Nuts', 'Eggs', 'Milk'],
 ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']]

In [13]:
import pandas as pd 
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

TranEncod = TransactionEncoder()
te_ary = TranEncod.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns = TranEncod.columns_)

In [15]:
df

   Coffee  Diaper  Drink   Eggs   Milk   Nuts
0   False    True   True  False  False   True
1    True    True   True  False  False  False
2   False    True   True   True  False  False
3   False   False  False   True   True   True
4    True    True  False   True   True   True

In [21]:
apriori(df,min_support=0.20,use_colnames=True)

    support                            itemsets
0       0.4                            (Coffee)
1       0.8                            (Diaper)
2       0.6                             (Drink)
3       0.6                              (Eggs)
4       0.4                              (Milk)
5       0.6                              (Nuts)
6       0.4                    (Coffee, Diaper)
7       0.2                     (Coffee, Drink)
8       0.2                      (Coffee, Eggs)
9       0.2                      (Milk, Coffee)
10      0.2                      (Nuts, Coffee)
11      0.6                     (Drink, Diaper)
12      0.4                      (Eggs, Diaper)
13      0.2                      (Milk, Diaper)
14      0.4                      (Nuts, Diaper)
15      0.2                       (Drink, Eggs)
16      0.2                       (Nuts, Drink)
17      0.4                        (Milk, Eggs)
18      0.4                        (Nuts, Eggs)
19      0.4                        (Nuts, Milk)
20      0.2             (Drink, Coffee, Diaper)
21      0.2              (Coffee, Eggs, Diaper)
22      0.2              (Milk, Coffee, Diaper)
23      0.2              (Nuts, Coffee, Diaper)
24      0.2                (Milk, Coffee, Eggs)
25      0.2                (Nuts, Coffee, Eggs)
26      0.2                (Nuts, Milk, Coffee)
27      0.2               (Drink, Eggs, Diaper)
28      0.2               (Nuts, Drink, Diaper)
29      0.2                (Milk, Eggs, Diaper)
30      0.2                (Nuts, Eggs, Diaper)
31      0.2                (Nuts, Milk, Diaper)
32      0.4                  (Nuts, Milk, Eggs)
33      0.2        (Milk, Coffee, Eggs, Diaper)
34      0.2        (Nuts, Coffee, Eggs, Diaper)
35      0.2        (Nuts, Milk, Coffee, Diaper)
36      0.2          (Nuts, Milk, Coffee, Eggs)
37      0.2          (Nuts, Milk, Eggs, Diaper)
38      0.2  (Milk, Eggs, Diaper, Coffee, Nuts)

In [19]:
apriori(df,min_support=0.6, use_colnames=True)

   support         itemsets
0      0.8         (Diaper)
1      0.6          (Drink)
2      0.6           (Eggs)
3      0.6           (Nuts)
4      0.6  (Drink, Diaper)

In [23]:
frequent_itemsets = apriori(df,min_support=0.5, use_colnames=True)
frequent_itemsets['length']= frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support         itemsets  length
0      0.8         (Diaper)       1
1      0.6          (Drink)       1
2      0.6           (Eggs)       1
3      0.6           (Nuts)       1
4      0.6  (Drink, Diaper)       2

In [28]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.5)]

   support         itemsets  length
4      0.6  (Drink, Diaper)       2

In [30]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Diaper', 'Drink'} ]

   support         itemsets  length
4      0.6  (Drink, Diaper)       2

In [39]:
x= frequent_itemsets[ frequent_itemsets['itemsets'] == {'Drink'} ]
print (x['support'])

1    0.6
Name: support, dtype: float64

In [41]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Drink),(Diaper),0.6,0.8,0.6,1.00,1.25,0.12,inf
1,(Diaper),(Drink),0.8,0.6,0.6,0.75,1.25,0.12,1.6