In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in d:\python\lib\site-packages (0.18.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn>=0.20.3 in d:\python\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: matplotlib>=3.0.0 in d:\python\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: scipy>=1.2.1 in d:\python\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: pandas>=0.24.2 in d:\python\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: setuptools in d:\python\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: numpy>=1.16.2 in d:\python\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: joblib>=0.13.2 in d:\python\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\python\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: python-dateutil>=2.1 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\python\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in d:\python\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)

In [4]:
from mlxtend.frequent_patterns import apriori

In [7]:
dataset= [['i1','i2','i5'],
         ['i2','i4'],
         ['i2','i3'],
         ['i1','i2','i4'],
         ['i1','i2'],
         ['i2','i3'],
         ['i1','i2'],
         ['i1','i2','i3','i5'],
         ['i1','i2','i3'],
        ]

In [9]:
dataset

[['i1', 'i2', 'i5'],
 ['i2', 'i4'],
 ['i2', 'i3'],
 ['i1', 'i2', 'i4'],
 ['i1', 'i2'],
 ['i2', 'i3'],
 ['i1', 'i2'],
 ['i1', 'i2', 'i3', 'i5'],
 ['i1', 'i2', 'i3']]

In [10]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

TranEncod = TransactionEncoder()
te_ary = TranEncod.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns = TranEncod.columns_)
df

      i1    i2     i3     i4     i5
0   True  True  False  False   True
1  False  True  False   True  False
2  False  True   True  False  False
3   True  True  False   True  False
4   True  True  False  False  False
5  False  True   True  False  False
6   True  True  False  False  False
7   True  True   True  False   True
8   True  True   True  False  False

In [14]:
apriori(df,min_support=0.22,use_colnames=True)

     support      itemsets
0   0.666667          (i1)
1   1.000000          (i2)
2   0.444444          (i3)
3   0.222222          (i4)
4   0.222222          (i5)
5   0.666667      (i1, i2)
6   0.222222      (i1, i3)
7   0.222222      (i1, i5)
8   0.444444      (i3, i2)
9   0.222222      (i2, i4)
10  0.222222      (i5, i2)
11  0.222222  (i1, i3, i2)
12  0.222222  (i1, i5, i2)

In [16]:
frequent_itemsets = apriori(df,min_support=0.22, use_colnames=True)
frequent_itemsets['length']= frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support      itemsets  length
0   0.666667          (i1)       1
1   1.000000          (i2)       1
2   0.444444          (i3)       1
3   0.222222          (i4)       1
4   0.222222          (i5)       1
5   0.666667      (i1, i2)       2
6   0.222222      (i1, i3)       2
7   0.222222      (i1, i5)       2
8   0.444444      (i3, i2)       2
9   0.222222      (i2, i4)       2
10  0.222222      (i5, i2)       2
11  0.222222  (i1, i3, i2)       3
12  0.222222  (i1, i5, i2)       3

In [18]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.22)]

     support  itemsets  length
5   0.666667  (i1, i2)       2
6   0.222222  (i1, i3)       2
7   0.222222  (i1, i5)       2
8   0.444444  (i3, i2)       2
9   0.222222  (i2, i4)       2
10  0.222222  (i5, i2)       2

In [19]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.22)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(i1),(i2),0.666667,1.000000,0.666667,1.000000,1.00,0.000000,inf
1,(i2),(i1),1.000000,0.666667,0.666667,0.666667,1.00,0.000000,1.000000
2,(i1),(i3),0.666667,0.444444,0.222222,0.333333,0.75,-0.074074,0.833333
3,(i3),(i1),0.444444,0.666667,0.222222,0.500000,0.75,-0.074074,0.666667
4,(i1),(i5),0.666667,0.222222,0.222222,0.333333,1.50,0.074074,1.166667
5,(i5),(i1),0.222222,0.666667,0.222222,1.000000,1.50,0.074074,inf
6,(i3),(i2),0.444444,1.000000,0.444444,1.000000,1.00,0.000000,inf
7,(i2),(i3),1.000000,0.444444,0.444444,0.444444,1.00,0.000000,1.000000
8,(i2),(i4),1.000000,0.222222,0.222222,0.222222,1.00,0.000000,1.000000
9,(i4),(i2),0.222222,1.000000,0.222222,1.000000,1.00,0.000000,inf
10,(i5),(i2),0.222222,1.000000,0.222222,1.000000,1.00,0.000000,inf
11,(i2),(i5),1.000000,0.222222,0.222222,0.222222,1.00,0.000000,1.000000
12,"(i1, i3)",(i2),0.222222,1.000000,0.222222,1.000000,1.00,0.000000,inf
13,"(i1, i2)",(i3),0.666667,0.444444,0.222222,0.333333,0.75,-0.074074,0.833333
14,"(i3, i2)",(i1),0.444444,0.666667,0.222222,0.500000,0.75,-0.074074,0.666667
15,(i1),"(i3, i2)",0.666667,0.444444,0.222222,0.333333,0.75,-0.074074,0.833333
16,(i3),"(i1, i2)",0.444444,0.666667,0.222222,0.500000,0.75,-0.074074,0.666667
17,(i2),"(i1, i3)",1.000000,0.222222,0.222222,0.222222,1.00,0.000000,1.000000
18,"(i1, i5)",(i2),0.222222,1.000000,0.222222,1.000000,1.00,0.000000,inf
19,"(i1, i2)",(i5),0.666667,0.222222,0.222222,0.333333,1.50,0.074074,1.166667
20,"(i5, i2)",(i1),0.222222,0.666667,0.222222,1.000000,1.50,0.074074,inf
21,(i1),"(i5, i2)",0.666667,0.222222,0.222222,0.333333,1.50,0.074074,1.166667
22,(i5),"(i1, i2)",0.222222,0.666667,0.222222,1.000000,1.50,0.074074,inf
23,(i2),"(i1, i5)",1.000000,0.222222,0.222222,0.222222,1.00,0.000000,1.000000